# Dependencies
node_modules/

# Scratch & Temporary test scripts
scratch/

# OS metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
